
@font-face {
  font-family: "Figtree";
  src: url('../fonts/Figtree-VariableFont_wght.ttf') format('ttf');
}

@import "../../node_modules/normalize.css/normalize.scss";
@import "../css/variables.scss";
@import "../css/card.scss";


html,
body {
  min-height: 100vh;
  background-color: $yellow;
  font-family: $primary-font;
}
